.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: rgba(0, 0, 128, 0.7);
  $hero-background-bottom: rgba(153, 204, 255, 0.7);
  $hero-color: white;
  $a-color: #870CE8;
  $hero-image: '/images/LofotyBlurred.png';

  background: linear-gradient($hero-background-bottom, $hero-background-top), url($hero-image);
  background-color: $hero-background-top ;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    #hero-dynamic {
      #avatar {
        border-radius: 50%;
        height: 5em;
      }
    }

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }

      a {
        color: $a-color;
        &:hover {
          color: darken($a-color, 20%);
        }
      }
    }

    button {
      padding: 0.7em 1em;
    }
  }
}

