.hero-inner
  #hero-dynamic
  .hero-copy
    %h1
      Åukasz
      %a#my-github{:href => 'http://github.com/scoiatael'} (scoiatael)
    %p Computer Science student, Web engineer.
  %button.scroll-on-page-link{:href => "#projects"} Learn More
