%aside#scroll-on-page-top
  - blog.articles.each do |article|
    %a.scroll-on-page-link{:href => "#" << article.title}= article.title
%article
  - blog.articles.each do |article|
    %section
      %h2{:id => article.title}= article.title
      = article.body
  %a.scroll-on-page-link{:href => "#scroll-on-page-top"} Back to top
